.page {
  padding: 20px 30px;
  border-radius: 6px;
  background: #fff;
  min-height: calc(100% - 64px);

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .right {
      display: flex;
    }
  }

  .table-content {
    position: relative;
    background: #fff;
  }

  .pagination {
    text-align: center;
    padding-top: 20px;
  }
}

